name: Jepsen-cluster-tests

on:
  schedule:
    - cron: '30 06 * * *'

env:
  GO_VERSION: 1.25.5

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Zookeeper cache
        id: zookeeper-cache
        uses: actions/cache@v5
        with:
          path: tests/images/zookeeper/zookeeper.tar.gz
          key: rdsync-zookeeper-${{ hashFiles('tests/images/zookeeper/zookeeper.tar.gz') }}-${{ hashFiles('Makefile') }}

      - name: Download zookeeper binary
        if: steps.zookeeper-cache.outputs.cache-hit != 'true'
        run: make tests/images/zookeeper/zookeeper.tar.gz

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Run test
        run: make jepsen_cluster_test
        
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: logs
          path: tests/logs
