name: Jepsen-sentinel-tests

on:
  schedule:
    - cron: '30 06 * * *'

env:
  GO_VERSION: 1.25.3

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Run test
        run: make jepsen_sentinel_test
        
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: logs
          path: tests/logs
